{{>top-nav}}

<div class = "edit-review">
    <!-- REVIEW POST -->
    <div class="edit-posting">
        <div class="poster-info">
            <div>
                <img class="poster" src="{{user-data.profpic}}">
            </div>
            <div class="poster-details">
                <p><b>{{user-data.username}}</b></p>
                <p>Posted: {{post-data.createdate}}</p>
                
            </div>
        </div>

        <div class="post-info">
            <div class="post-pic">
                <img src="{{post-data.image}}">
            </div>
            <div class="post-content">
                <p> <b>{{post-data.title}}</b>
                    <br> {{user-data.username}}: {{post-data.description}}
                </p>
            </div>
        </div>
    </div>

    <!-- Edit post -->
    <form id="editReviewForm" action="/submit" method="post">
        <div class="edit-rev-details">
            {{#if post-data.isPromo}}
            <h1> Edit Promo:</h1>
            {{else}}
            <h1> Edit Review:</h1>
            <h3> Edit Rating: </h3>
            <div class="star-rating">
                <div class="star-container">
                    <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="edit-details-row">
                <div class="edit-detail-item">
                    <h3> Edit Title: </h3>
                    <input type="text" placeholder="Change title here..." class="title-input">
                </div>
                <div class="edit-detail-item">
                    <h3> Edit Description: </h3> 
                    <textarea cols="30" placeholder="Change your description here..."></textarea>
                </div>
                <div class="edit-detail-item">
                    <h3>Edit image:</h3>
                    <div class="pfp-upload">
                        <input type="file" id="myFile" name="filename">
                    </div>
                </div>
            </div>
            <div class="edit-changes-btn">
                <button type="submit">Confirm Changes</button>
            </div>
        </div>
    </form>

    <!-- deleting post 
    <form id ="deletePostForm" action = "/api/postRoutes/:postId" method = "DELETE">
        <div class="edit-changes-btn">
            <button id = "deletePost" data-post-id = "{{ post-data.postid }}"> Delete Post </button>
        </div>
    </form> -->

</div>
</body>
<script>
    // Get all cafe items
    const cafeItems = document.querySelectorAll('.select-cafe .menu .cafe-item');

    // Add click event listener to each cafe item
    cafeItems.forEach(item => {
        item.addEventListener('click', function() {
            // Remove 'active' class from all cafe items
            cafeItems.forEach(item => {
                item.classList.remove('active');
            });

            // Add 'active' class to the clicked cafe item
            this.classList.add('active');

            // Update the selected cafe text
            const selectedCafe = this.textContent;
            document.querySelector('.select-cafe .selected').textContent = selectedCafe;
        });
    });

    /* deleting post
    const deletePost = document.getElementById('deletePost');

    deletePost.onclick = async function() {
        const postId = deletePost.dataset.postId;
        const response = await fetch(`/api/postRoutes/${postId}`, {
            method: 'DELETE'
        });

        if (response.ok) {
            window.location.href = '/'; // Redirect to homepage
        } 
    }; */
</script>