{{>top-nav}}
<div class = "edit-promo">
    <div class = "edit-posting"> 
        <div class = "poster-info">
            <div> 
                <img class = "poster" src = "{{user-data.profpic}}">
            </div>
            <div class = "poster-details"> 
                <p> <b> {{user-data.username}}</b> </a> {{#if user-data.isOwner}}• Establishment Owner {{else}} {{/if}}</p> 
                <p> Posted: {{post-data.createdate}} </p>
            </div>
        </div>
        

        <div class="post-info"> 
            <div class = "post-pic"> 
                <img src = "{{post-data.image}}">
            </div>
            <div class = "post-content"> 
                <p> <b>{{post-data.title}}</b>
                    <br> {{user-data.username}}: {{post-data.description}}
                </p>  
            </div> 
        </div>
    </div>

    <!-- Edit Promo -->
    <div class = "edit-promo-details">
        <h1> Edit Promo Post:</h1>
        
        <h3> Caption: </h3> <textarea rows="4" cols="50">Put your edits here...</textarea>

        <h3>Edit image:</h3>
        <div class="pfp-upload">
            <input type="file" id="myFile" name="filename">
        </div>

        <br> 
        <div class="edit-changes-btn">
            <button formaction="submit">Confirm Changes</button>
        </div>
    </div>
</div>
        
            