{{>top-nav}}

<div class = "edit-review">
    <!-- REVIEW POST -->
    <div class="edit-posting">
        <div class="poster-info">
            <div>
                <img class="poster" src="{{user-data.profpic}}">
            </div>
            <div class="poster-details">
                <p><a href = "view-profile-owner.html"><b>{{user-data.username}}</b></a></p>
                <p>Posted: {{post-data.createdate}}</p>
                <div class = "rating">Rating: 
                    <span class="material-icons"> star_rate </span>
                    <span class="material-icons"> star_rate </span>
                    <span class="material-icons"> star_rate </span>
                    <span class="material-icons"> star_rate </span>
                </div>
            </div>
        </div>

        <div class="post-info">
            <div class="post-pic">
                <img src="{{post-data.image}}">
            </div>
            <div class="post-content">
                <p> <b>{{post-data.title}}</b>
                    <br> {{user-data.username}}: {{post-data.description}}
                </p>
            </div>
        </div>
    </div>

    <!-- Edit Review -->
    <div class = "edit-rev-details">
        <h1> Edit Review:</h1>
        
        <h3> Cafe: </h3>
        <div class="dropdown" tabindex="0">  
            <div class="select">
                <span class="selected">-</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                {{#each cafe-list}}
                <li>{{cafename}}</li>
                {{/each}}
                <li class="active">-</li>
            </ul>
        </div>
        <h3> Caption: </h3> <textarea rows="4" cols="50">Put your edits here...</textarea>

        <h3>Edit image:</h3>
        <div class="pfp-upload">
            <input type="file" id="myFile" name="filename">
        </div>

        <br> 
        <div class="edit-changes-btn">
            <button formaction="submit">Confirm Changes</button>
        </div>
    </div>

</div>

</body>
</html>