{{> top-nav}}

<h1>Search Results:</h1>

{{#each results }}
    {{#if cafename}} <!-- cafe -->
        <div class="search-result" data-cafename="{{ cafename }}" data-cafeid="{{ cafeid }}"> 
            <div style="display: flex;"> 
                <div> 
                    <img src = "{{logo}}" style="width: 150px; height: 150px; border-radius: 30px;">
                </div>
                <div style = "padding-left: 2cm;">
                    <h3> {{cafename}} </h3>
                    {{cafedesc }} <br> 
                </div>
            </div>
        </div>
    {{else}} <!-- review -->
        <div class="search-result-review" data-postid = "{{_id}}">
            <div style="display: flex;">
                <div>
                    <img src="{{profpic}}" style="width: 150px; height: 150px; border-radius: 30px;">
                </div>
                <div style="padding-left: 2cm;">
                    <h3> {{title}} </h3>
                    <p> {{description}} </p>
                    <p style = "font-size: 15px;"> Posted by: {{username}} </p>
                </div>
            </div>
        </div>
    {{/if}}
{{/each }}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const viewCafeOnSearch = document.querySelectorAll('.search-result');
        
        viewCafeOnSearch.forEach(function (button) {
            button.addEventListener('click', function () {
                const cafename = button.getAttribute('data-cafename');
                const cafeid = button.getAttribute('data-cafeid'); 
                window.location.href = '/view_cafe?id=' + encodeURIComponent(cafeid);
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const viewReviewOnSearch = document.querySelectorAll('.search-result-review');
            
        viewReviewOnSearch.forEach(function (button) {
            button.addEventListener('click', function () {
                const postId = button.getAttribute('data-postid'); 
                window.location.href = '/view_post?postId=' + encodeURIComponent(postId);
            });
        });
    });
</script>

