{{>top-nav}}
<!-- TOP NAV BAR -->


    <!-- PROMO POST 1-->
    <div class = "posting"> 
        <div class = "poster-info">
            <div> 
                <img class = "poster" src = "{{user-data.profpic}}">
            </div>
            <div class = "poster-details"> 
                <p> <a href = "view-profile-owner.html"> <b> {{user-data.username}} </b> </a> </p> 
                <p> Posted: {{promo-data.dateposted}} </p>
            </div>
            <div class ="edit-promo-container">
                <div class="edit-promo-btn">
                    <a href="edit-promo.html"> Edit Post </a>
                </div>
            </div>
        </div>
        
    
        <div class="post-info"> 
            <div class = "post-pic"> 
                <img src = "{{promo-data.image}}">
            </div>
            <div class = "post-content"> 
                <p> <b>{{promo-data.title}}</b>
                    <br> {{user-data.username}}: {{promo-data.description}}
                </p>  

                <div class="like_btn_container">
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_up </span>
                        <span class="like-count">{{promo-data.upvote}}</span>
                    </div>
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_down </span>
                        <span class="like-count">{{promo-data.downvote}}</span>
                    </div>
                </div>
            </div> 
        </div>

<script>
document.querySelectorAll(".posting").forEach(post => {
    const postId = post.dataset.postId;
    const ratings = post.querySelectorAll(".like-post-rating");
    const likeRating = ratings[0];

    ratings.forEach(rating => {
        const likeButton = rating.querySelector(".like-btn");
        const count = rating.querySelector(".like-count");

        likeButton.addEventListener("click", async () => {
            if (rating.classList.contains("like-post-rating-selected")) {
                return;
            }

            count.textContent = Number(count.textContent) + 1;

            ratings.forEach(rating => {
                if (rating.classList.contains("like-post-rating-selected")) {
                    const count = rating.querySelector(".like-count");

                    count.textContent = Math.max(0, Number(count.textContent) - 1);
                    rating.classList.remove("like-post-rating-selected");
                }
            });

            rating.classList.add("like-post-rating-selected");

            const likeOrDislike = likeRating === rating ? "like" : "dislike";
            const response = await fetch(`/posts/${postId}/${likeOrDislike}`);
            const body = await response.json();
        });
    });
});
        </script>

        <div class="comment-section">
            {{#each comments-data}}
            <div class="reply">
                <div>
                    <img src="{{authorData.profpic}}">
                </div>
                <div class="comment-info-box">
                    <p> <a href="view-profile-owner.html"> <b> {{authorData.username}} </b> </a> {{#if isOwner}}• Establishment Owner {{else}} {{/if}} </p>
                    <p id="comment"> {{content}} </p>
                </div>
                <div class="like_btn_container">
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_up </span>
                        <span class="like-count">{{upvote}}</span>
                    </div>
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_down </span>
                        <span class="like-count">{{downvote}}</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        

        <div class = "create-reply"> 
            <p> Post a reply: </p>
            <textarea rows="4" cols="50"> </textarea>
            <button> Post </button>
        </div>

    </div>