{{>top-nav}}
<!-- TOP NAV BAR -->


    <!--POST-->
    <div class = "posting"> 
        <div class = "poster-info">
            <div> 
                <img class = "poster" src = "{{user-data.profpic}}">
            </div>
            <div class = "poster-details"> 
                <p> <a href="/view_profile?userId={{user-data.userid}}"> <b> {{user-data.username}} </b> </a> {{#if user-data.isOwner}}• Establishment Owner {{else}} {{/if}}</p> 
                <p> Posted: {{post-data.dateposted}} </p>
            </div>
            <div class ="edit-promo-container">
                {{#if isLoggedIn}}
                <div class="edit-promo-btn" data-postid="{{post-data._id}}">
                    <a href="/edit_post?postId={{post-data._id}}">Edit Post</a>
                </div>
                {{/if}}
            </div>
        </div>

    
        <div class="post-info"> 
            <div class = "post-pic"> 
                <img src = "{{post-data.image}}">
            </div>
            <div class = "post-content"> 
                <p> <b>{{post-data.title}}</b>
                    <br>{{post-data.description}}
                </p>  

                <div class="like_btn_container">
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_up </span>
                        <span class="like-count">{{post-data.upvote}}</span>
                    </div>
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_down </span>
                        <span class="like-count">{{post-data.downvote}}</span>
                    </div>
                </div>
            </div> 
        </div>

<script>
document.querySelectorAll(".posting").forEach(post => {
    const postId = post.dataset.postId;
    const ratings = post.querySelectorAll(".like-post-rating");
    const likeRating = ratings[0];

    ratings.forEach(rating => {
        const likeButton = rating.querySelector(".like-btn");
        const count = rating.querySelector(".like-count");

        likeButton.addEventListener("click", async () => {
            if (rating.classList.contains("like-post-rating-selected")) {
                return;
            }

            count.textContent = Number(count.textContent) + 1;

            ratings.forEach(rating => {
                if (rating.classList.contains("like-post-rating-selected")) {
                    const count = rating.querySelector(".like-count");

                    count.textContent = Math.max(0, Number(count.textContent) - 1);
                    rating.classList.remove("like-post-rating-selected");
                }
            });

            rating.classList.add("like-post-rating-selected");

            const likeOrDislike = likeRating === rating ? "like" : "dislike";
            const response = await fetch(`/posts/${postId}/${likeOrDislike}`);
            const body = await response.json();
        });
    });
});
</script>

        <div class="comment-section">
            {{#each comments-data}}
            <div class="reply">
                <div>
                    <img src="{{profpic}}">
                </div>
                <div class="comment-info-box">
                    <p> <a href="/view_profile?userId={{authorid}}"> <b> {{username}} </b> </a> {{#if isOwner}}• Establishment Owner {{else}} {{/if}} </p>
                    <p id="comment"> {{content}} </p>
                </div>
                <div class="like_btn_container">
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_up </span>
                        <span class="like-count">{{upvote}}</span>
                    </div>
                    <div class="like-post-rating">
                        <span class="like-btn material-icons"> thumb_down </span>
                        <span class="like-count">{{downvote}}</span>
                    </div>
                </div>
            </div>
            {{/each}}
            
<script>
    document.querySelectorAll(".reply").forEach(comment => {
        const commentId = comment.dataset.commentId;
        const ratings = comment.querySelectorAll(".like-post-rating");
        const likeRating = ratings[0];

        ratings.forEach(rating => {
            const likeButton = rating.querySelector(".like-btn");
            const count = rating.querySelector(".like-count");

            likeButton.addEventListener("click", async () => {
                if (rating.classList.contains("like-post-rating-selected")) {
                    return;
                }

                count.textContent = Number(count.textContent) + 1;

                ratings.forEach(rating => {
                    if (rating.classList.contains("like-post-rating-selected")) {
                        const count = rating.querySelector(".like-count");

                        count.textContent = Math.max(0, Number(count.textContent) - 1);
                        rating.classList.remove("like-post-rating-selected");
                    }
                });

                rating.classList.add("like-post-rating-selected");

                const likeOrDislike = likeRating === rating ? "like" : "dislike";
                const response = await fetch(`/comments/${commentId}/${likeOrDislike}`);
                const body = await response.json();
            });
        });
    });
</script>
            
            
        </div>
        

        <div class = "create-reply"> 
            <p> Post a reply: </p>
            <textarea rows="4" cols="50"> </textarea>
            <button> Post </button>
        </div>

    </div>